ion-header{
    ion-toolbar {
    ion-icon {
        color: var(--ion-color-primary);
        font-size: 23px;
    }
  }
}
ion-footer{
    ion-toolbar {
    ion-icon {
        color: var(--ion-color-primary);
        font-size: 23px;
    }
  }
}