<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-back-button text="Songs" color="primary" defaultHref="/home"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" ios="help-circle-outline" ></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" ios="text-outline" ></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" ios="pencil-outline" ></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" ios="share-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-footer>
  <ion-toolbar color="dark" >
    <ion-buttons>
      <ion-grid [fixed]="true">
        <ion-row>
          <ion-col >
            <ion-button expand="full" [routerLink]="['/home']" routerDirection="back"> 
              <ion-icon slot="icon-only" ios="home" ></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col >
          <ion-button expand="full">
              <ion-icon slot="icon-only" ios="stop" ></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col >
            <ion-button expand="full">
              <ion-icon slot="icon-only" ios="play" style="font-size: 40px;"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col >
            <ion-button expand="full">
              <ion-icon slot="icon-only" ios="options-outline" ></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col >
            <ion-button expand="full" >
              <ion-icon slot="icon-only" ios="grid-outline" ></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
<ion-content [fullscreen]="true"></ion-content>